div.tab-content button:hover{
    background-color: palevioletred;
}
/*div.tab-content button:active{

}*/
div.tab-content button:current{
    background-color: palevioletred;
}
.container{
    width:400px;
    height:250px;
    border: 1px solid gray;
}
/*dinh dang tabcontent*/
.tab-content{
  height:40px;  
   width:400px;
   background-color:#f1f1f1;
}
/*dinh dang cac nut*/ 
div.tab-content button{
    float:left;
    border:none;
    width:50px;
    height:40px;    
    outline:none;
    font-size:16px;
    /*padding:14px 16px;*/ 
    background-color:inherit;
    transition: 0.3s;
}